* {
    margin: 0;
    padding: 0;
}

.login-container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)),url('../../../public/static/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-title {
    font-size: 36px;
    font-family: "Pacifico", sans-serif; 
    margin-bottom: 20px;
    font-weight: bold;
    color: #022952; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeInAnimation 1s ease-in-out forwards;
  }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

form {
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    font-family: Arial, sans-serif;
    animation: fadeInRightAnimation 1s ease-in-out forwards;
}

@keyframes fadeInRightAnimation {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

form div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: normal;
    font-size: 14;
    margin-bottom: 5px;
  }
  
  input {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4092ea;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button[type="button"] {
    background-color: #6fb86d;
    margin-top: 10px;
  }
  
  button[type="button"]:hover {
    background-color: #508e5e;
  }
  
  .link-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .link-container a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: transparent; /* Remove default background color */
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .link-container a:hover {
    color: #ffffff;
  background-color: #659ad3;
  }