.cloudinaryImage {
    width: 50%;
    height: 50vh;
  }

  .cloudinary-widget {
    display: flex;
    align-items: center;

  }

  .upload-button {
    width: 100%; 
    padding: 10px;
    background-color: #df7233;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .upload-button:hover {
    background-color: #8f3a09;
  }